.cart{ 'ng-controller' => 'CartController as controller' }
  %p Cart has {{count()}} item(s)

  %ul{ 'ng-show' => 'count() > 0' }
    %li{ 'ng-repeat' => 'item in items()' }
      %span= "{{item.variant.sku}} x{{item.qty}}"

%ng-view

%script{ type: 'text/ng-template', id: 'product-list.html' }
  %ul
    %li{ 'ng-repeat' => 'product in products' }
      %p {{product.name}}
      %img{ src: '{{product.photo}}' }

      %a{ href: '#/products/{{product.id}}' } Ver Mais

%script{ type: 'text/ng-template', id: 'product-show.html' }
  .product-show
    %productimage
    %productdetail

%script{ type: 'text/ng-template', id: 'product-detail.html' }
  .product-detail
    %p {{product.name}}
    %select{ 'ng-model' => 'sku' }
      %option{ 'ng-repeat' => 'variant in product.variants', value: '{{variant.sku}}' }
        {{ variant.color }}

    %button{ 'ng-click' => 'addToCart(findVariant(sku))' } Add To Cart

%script{ type: 'text/ng-template', id: 'product-image.html' }
  .product-image
    %img{ src: '{{selectedVariant.photo}}' }
